**Diabetics Prediction Using Support Vector Machine Algorithm**

Worked on : Google Colaboratory

Dataset used : Kaggle Diabetics Dataset

Libraries used : Scikit-learn, Numpy, Pandas

Importing the libraries

In [18]:
import numpy as num #for numpy array which we use to store the input data and prediction
import pandas as pand #for pandas Dataframe to load the dataset
from sklearn import svm 
from sklearn.preprocessing import StandardScaler #for standardizing the data with common range
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

Uploading the Diabetics dataset using **Pandas DataFrame**

In [19]:
dataset=pand.read_csv('/content/diabetes.csv')

In [20]:
#Printing the first five rows of the data in dataset
dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [21]:
#Printing the last five rows of data in dataset
dataset.tail()

     Pregnancies  Glucose  ...  Age  Outcome
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[5 rows x 9 columns]

In [22]:
#Number of attributes and instances in dataset
dataset.shape

(768, 9)

In [23]:
dataset.describe()# This returns the statistical measures such as mean, minimum, maximum, etc.,

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [24]:
dataset['Outcome'].value_counts()# 0 represent Non-Diabetic and 1 represent Diabetic Person

0    500
1    268
Name: Outcome, dtype: int64

In [25]:
dataset.groupby('Outcome').mean()# It returns the mean of People based on the Outcome column of the dataset

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [26]:
#Now we separate the Outcome column and other attributes 
Att=dataset.drop(columns='Outcome',axis=1)
Out=dataset['Outcome']

In [27]:
print("The Dataset without Outcome Column : \n",Att)

The Dataset without Outcome Column :
      Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]

We have to Standardize the data for the better prediction using **StandardScaler()**

In [41]:
std=StandardScaler()

In [98]:
std.fit(Att)

StandardScaler()

In [99]:
Std_data=std.transform(Att) #it adjust the data for the better accuracy in train model

In [100]:
#Prints the data with common range 
print("The Standardized data :\n",Std_data)

The Standardized data :
 [[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [103]:
Att=Std_data #replacing with standardized data
Out=dataset['Outcome']

Dividing the dataset for Training and Testing the model using **train_test_split**

In [121]:
Att_Train, Att_Test, Out_Train, Out_Test = train_test_split(Att,Out,test_size=0.2,stratify=Out,random_state=1)
#By the above code we are spliting the data for training the model by 80% and testing the model by 20% of Data from dataset

In [122]:
print("Number of data instances for Training the model: ",Att_Train.shape)
print("Number of data instances for Testing the model:  ",Att_Test.shape)

Number of data instances for Training the model:  (614, 8)
Number of data instances for Testing the model:   (154, 8)

Training the model using **svm**

In [123]:
Classify=svm.SVC(kernel='linear')
Classify.fit(Att_Train,Out_Train)

SVC(kernel='linear')

Calculating the Accuracy Score of the Training Data

In [124]:
Att_Train_Accuracy=Classify.predict(Att_Train)
Accuracy=accuracy_score(Att_Train_Accuracy,Out_Train)
print('Accuracy Score of the Training Data: ',Accuracy)

Accuracy Score of the Training Data:  0.7833876221498371

Calculating the Accuracy Score of the Test Data

In [125]:
Att_Test_Accuracy=Classify.predict(Att_Test)
Test_Accuracy=accuracy_score(Att_Test_Accuracy,Out_Test)
print('Accuracy Score of the Test Data: ',Test_Accuracy)

Accuracy Score of the Test Data:  0.7792207792207793

Predicting whether a person has Diabetics or not

In [126]:
predict_data=(4,148,60,27,318,30.9,0.15,29) #the person's data should be given to the predict_data for prediction
data_numpy_array = num.asarray(predict_data) #we are changing the given data into numpy array form
reshaped_data=data_numpy_array.reshape(1,-1)#we reshaped array for one data instance for prediction
standardize_data=std.transform(reshaped_data)
predicted_data=Classify.predict(standardize_data)
if(predicted_data[0]==0):
  print("The Person is not Diabetic \n And the predicted data is: ",predicted_data)
else:
  print("The Person is Diabetic \n And the predicted data is: ",predicted_data)

The Person is Diabetic
 And the predicted data is:  [1]